p {
    border-bottom: 3px solid green; 
    background-color: #e6ccb3;
    padding: 0px;
}

body {
	background-color:rgb(161, 247, 183);
	font-family: 'Inknut Antiqua', serif;
}

li {
	color: #694016;
	padding: 3px;
}

.container {
  display: flex;
  align-content: flex-start;
}

ul {
  margin: 0;
}
img {
width: 200px;
height: auto;
}